:root {
  --red: #db2828;
  --orange: #f2711c;
  --yellow: #fbbd08;
  --olive: #b5cc18;
  --green: #21ba45;
  --teal: #00b5ad;
  --blue: #2185d0;
  --violet: #6435c9;
  --purple: #a333c8;
  --pink: #e03997;
  --brown: #a5673f;
  --grey: #767676;
  --black: #1b1c1d;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: calc(2rem - 0.142857em);
}
.mb-1 {
  margin-top: 1rem;
}
.mb-2 {
  margin-bottom: calc(2rem - 0.142857em);
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: calc(2rem - 0.142857em);
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: calc(2rem - 0.142857em);
}
select.ui.dropdown {
  border-radius: 0.28571429rem;
}

select.ui.dropdown:focus {
  border-color: #85b7d9;
}

body {
  height: auto !important;
  background-color: #b8b8b8 !important;
}
