<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let title, placeholder, remove, info;
  export let value;
  let newItem = "";

  $: repeated = value.includes(newItem.trim());

  function addVar(event) {
    if (event instanceof KeyboardEvent && event.key !== "Enter") return;
    newItem = newItem.trim();
    if (newItem === "") return;
    if (repeated) return;
    value = [...value, newItem];
    newItem = "";
    dispatch("change", value);
  }

  function removeVar(index) {
    value.splice(index, 1);
    value = [...value];
    dispatch("change", value);
  }
</script>

<style>
  .new-item {
    color: var(--green);
  }

  .new-item.repeated {
    color: var(--red);
  }
</style>

<h1 class="ui header">{title}</h1>
<div class="ui grid">
  <div class="one wide column">
    <div class="ui button" data-tooltip={info} data-position="bottom left">
    <i class="fas fa-info-circle" style="font-size:1rem;"></i>
    </div>  
  </div>
  <div class="fifteen wide column">
    <div class="ui fluid action input">
      <input type="text" {placeholder} bind:value={newItem} on:keyup={addVar} />
      <button class="ui primary button" type="button" on:click={addVar}>
        Agregar
      </button>
    </div>  
  </div>
</div>
  



 <div class="ui grid">

  <div class="one wide column">
  </div>
<div class="ui horizontal list fifteen wide column">

 
  {#each value as key, i}
    <div class="item">
      <div
        class="ui button"
        data-tooltip={remove}
        data-position="bottom left"
        on:click={() => removeVar(i)}>
         {key}
      </div>
    </div>
  {/each}
  {#if newItem}
    <div class="item">
      <div
        class="ui button transparent new-item"
        class:repeated
        data-tooltip={remove}
        data-position="bottom left"
        on:click={() => (newItem = '')}>
         {newItem}
      </div>
    </div>
  {/if}
  
</div>
</div>
