<script>
  import AddItems from "./components/AddItems.svelte";
  import Chart from "./components/Chart.svelte";
  import solver from "javascript-lp-solver";
  import { models } from "./models.js";

  const objective = "objective";
  const min = "min";
  const max = "max";

  let variables = {
    title: "Agregar variables",
    placeholder: "Nombre de la variable",
    remove: "Remover variable",
    items: ["x1", "x2"],
    info:
      "Las variables son el producto o servicio que se desea estudiar sobre el modelo"
  };
  let constraints = {
    title: "Agregar restricciones",
    placeholder: "Nombre de la restricción",
    remove: "Remover restricción",
    items: ["R1", "R2", "R3", "R4", "R5"],
    info: "Las restricciones me permitirán limitar el modelo"
  };
  //se agregó el array models para tener otros ejemplos default
  let model = models[0];

  function updateModel(event) {
    model = Object.assign({}, generateModel(variables, constraints));
  }

  function generateModel(variables, constraints) {
    const newModel = Object.assign({}, model);
    const newVariables = {};
    variables.items.forEach(variable => {
      newVariables[variable] = {
        objective:
          newModel.variables[variable] &&
          newModel.variables[variable][objective]
            ? newModel.variables[variable][objective]
            : 0
      };
      constraints.items.forEach(constraint => {
        newVariables[variable][constraint] =
          newModel.variables[variable] &&
          newModel.variables[variable][constraint]
            ? newModel.variables[variable][constraint]
            : 0;
      });
    });
    newModel.variables = newVariables;

    const newConstraints = {};
    constraints.items.forEach(constraint => {
      if (newModel.constraints[constraint]) {
        const oldConstraint = newModel.constraints[constraint];
        newConstraints[constraint] = {
          sign: oldConstraint.sign,
          resource: oldConstraint.resource,
          [oldConstraint.sign]: oldConstraint.resource
        };
      } else {
        newConstraints[constraint] = { max: 0, sign: max, resource: 0 };
      }
    });
    newModel.constraints = newConstraints;

    // console.log(newModel);
    return newModel;
  }

  $: results = solver.Solve(model);
  $: chart = variables.items.length === 2;
</script>

<style>
  input {
    width: auto;
    max-width: 100px !important;
  }
  .space {
    min-height: 5vh;
    height: 5vh;
  }
  .results {
    font-size: 18px;
  }
</style>

<!-- Navbar de juan-->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="hola">
    <img
      src=""
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt="" />
    Investigación Operativa
  </a>
  <!-- Example single danger button -->
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-info dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      Teoria
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a
        class="dropdown-item"
        href="http://www.phpsimplex.com/teoria_metodo_simplex.htm"
        target="_black">
        Método Simplex
      </a>
      <div class="dropdown-divider" />
      <a
        class="dropdown-item"
        href="http://www.phpsimplex.com/teoria_metodo_grafico.htm"
        target="_black">
        Método Gráfico
      </a>
    </div>
  </div>
</nav>

<div class="ui container mt-2 mb-2">
  <div class="ui message">
    <h1 class="ui header center aligned">
      <i class="fas fa-cogs" />
      <div class="content">SIMGRAF-IO</div>
    </h1>
    <p>Trabajo práctico integrador de investigación operativa</p>

  </div>
  <AddItems
    {...variables}
    on:change={updateModel}
    bind:value={variables.items} />
  <div class="ui divider" />
  <AddItems
    {...constraints}
    on:change={updateModel}
    bind:value={constraints.items} />

  {#if variables.items.length > 1 && constraints.items.length > 0}
    <div class="ui divider" />
    <div class="ui list">

      <!-- RESTRICTIONS -->
      <div>
        <h1 class="ui header">Restricciones</h1>
      </div>

      {#each constraints.items as constraint, i}
        <div class="ui basic orange segment item">
          <div class="ui top attached label">{constraint}</div>
          <div class="ui horizontal list">
            {#each variables.items as variable, j}
              {#if j > 0}
                <div class="item">+</div>
              {/if}
              <div class="item ">
                <div class="ui input labeled">
                  <label for={constraint + '_' + variable} class="ui label">
                     {variable}
                  </label>
                  <input
                    id={constraint + '_' + variable}
                    type="number"
                    on:change={updateModel}
                    bind:value={model.variables[variable][constraint]} />
                </div>
              </div>
            {/each}
            <div class="item">
              <select
                class="ui dropdown"
                on:change={updateModel}
                bind:value={model.constraints[constraint].sign}>
                <option value={min}>{'>='}</option>
                <option value={max}>{'<='}</option>
                <!-- <option value="2">{'='}</option> -->
              </select>
            </div>
            <div class="item ">
              <div class="ui input">
                <input
                  id={constraint + '_resource'}
                  type="number"
                  on:change={updateModel}
                  bind:value={model.constraints[constraint].resource} />
              </div>
            </div>
          </div>
          <!-- popup de las definiciones de las restricciones -->
          <div
            class="ui button"
            data-tooltip="Los recursos asociados a cada restriccion no pueden
            ser negativos o cero"
            data-position="right center">
            <i class="fas fa-info-circle" style="font-size:1rem;" />
          </div>
        </div>
      {/each}
      <!-- /RESTRICTIONS -->

      <!-- OBJECTIVE -->
      <div class="item">
        <div>
          <h1 class="ui header">Objetivo</h1>
        </div>
        <div class="ui horizontal list">
          {#each variables.items as variable, j}
            {#if j > 0}
              <div class="item">+</div>
            {/if}
            <div class="item coefficient">
              <div class="ui input labeled">
                <label for={'objective_' + variable} class="ui label">
                   {variable}
                </label>
                <input
                  id={'objective_' + variable}
                  type="number"
                  bind:value={model.variables[variable][objective]} />
              </div>
            </div>
          {/each}
          <div class="item">{'->'}</div>
          <div class="item coefficient">
            <div />
            <select
              class="ui dropdown"
              on:change={value => (model.opType = value.srcElement.value)}>
              <option value={max}>{max}</option>
              <option value={min}>{min}</option>
            </select>
            <!-- popup de la funcion objetivo -->
            <div
              class="ui button"
              data-tooltip="Funcion objetivo unica y optimizante"
              data-position="right center">
              <i class="fas fa-info-circle" style="font-size:1rem;" />
            </div>
          </div>
        </div>
      </div>
      <!-- /OBJECTIVE -->
    </div>

    {#if results}
      <div class="results">
      <h1 class="ui header">Método Simplex</h1>
      {#if results.feasible}
        <div style="font-weight:bold">Z óptimo: {results.result}</div>
        {#each variables.items as variable}
          <div style="font-weight:bold">
            Valor de {variable} a producir: {results[variable]}
          </div>
        {/each}
      {/if}
      {#if chart}
          <div class="space" />
        <Chart {model} />
      {/if}
      </div>
    {/if}
    <div class="space" />
  {/if}
</div>
